
/* Custom */
@font-face {
    font-family: fontbody;
    src: url(/assets/font/SourceSerifVariable-Roman.otf);
  }
  @font-face {
    font-family: fontheading;
    src: url(/assets/font/UTM-SeagullBold.ttf);
  }
  
/* Header */

#header.header-color{
    background-color: #f0f7ec;
}

#header ul li a{
    color: #000;
}
#header ul li:hover a{
    color: #0a763d
}
#header ul li .active{
    color: #0a763d
}
#header .logo{
    border-left: 4px solid #0a763d;
}
#header .logo img{
    max-height: 50px;
    margin-right: 8px;
}
#header .search-input{
    margin-right: 4px;
    padding: 2px 12px;
}
#product .search-btn,
#about .search-btn,
#header .search-btn{
    padding: 10px 20px;
    transition: all 0.3s;
}
#header .search-btn .search-icon{
    font-weight: 700;
}
.form-box .search-btn:hover,
#about .search-btn:hover,
#header .search-btn:hover{
    background-color: #fff;
    color: #0a763d;
    border: 1px solid #0a763d;
}
#header .button-toggle{
    padding: 4px 12px;
    border-color: rgba(0, 0, 0, 0.1);
    color: #f0f7ec;
}
#header .button-toggle{
    padding: 4px 12px;
    color: rgba(0,0,0,.55);
    border-color: rgba(0,0,0,.1);
}
/* Section */
#hero .search-btn{
    font-family: fontheading;
    font-size: 1rem;
    padding: 8px 24px;

}
#hero .search-btn:hover{
    background-color: #fff;
    color: #0a763d;
    border: 1px solid #0a763d;
}
#hero h2::before{
    content: "";
    width: 5px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 4rem;
    vertical-align: text-bottom;
}


/* Feature */
#featured-services .feature-icon{
    color: #fff;
}
/* About */
#about h2{
    color: #0a763d;

}
#about h2::before{
    content: "";
    width: 6px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 2.8rem;
    vertical-align: text-bottom;
}
#about .about-img{
    width: 100%;
}
#about .about-company{
    background-color: #e6ffe6;
    padding: 40px;
}
#about .about-content h3{
    font-size: 14px;
    text-transform: uppercase;
    color: #0a763d;
}
#about .about-content h1{
    color: #0a763d;

}
#about .search-btn{
    padding: 10px 20px;
    transition: all 0.3s;
}
#about .search-btn:hover{
    background-color: #fff;
    color: #0a763d;
    border: 1px solid #0a763d;
}
#about .statistic,
#about .certificate{
    text-align: center;
}
#about .certificate-img{
    max-width: 100%;
    max-height: 390px;
    transition: all 0.4s;

}
#about .certificate-box{
    padding: 10px 60px;
    border: 1px solid #eee;
    border-radius: 4px;

}
#about .certificate-box:hover .certificate-img{
    transform: scale(0.9);
}
#about .statistic .statistic-box{
    padding: 20px;
    border: 3px solid #0a763d;
    display: flex;
    align-items: center;
    border-radius: 20px;
}
#about .statistic .statistic-box-left{
    font-size: 42px;
    color: #0a763d;
    margin-right: 20px;
}
#about .statistic .statistic-box-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about .statistic .statistic-number{
    margin: auto;
    flex: 2;
    font-size: 36px;
    font-weight: bold;
    color: #000;
}
#about .statistic .statistic-desc{
    margin: auto;
    flex: 1;
    font-size: 14px;
}
/* Product */
#product h2::before{
    content: "";
    width: 6px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 2.8rem;
    vertical-align: text-bottom;
}
#product h2{
    color: #0a763d;
}
#product .product-box{
    padding: 30px;
    transition: background-color 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    border-bottom: 2px solid #0a763d;
}
#product .product-box:hover .product-btn{
    background-color: #fff;
    color: #0a763d;
}
#product .product-box:hover .product-name,
#product .product-box:hover .product-price,
#product .product-box:hover .product-gram
{
    color: #fff;
}
#product .product-box:hover{
    background-color: #0a763d;
}
#product .product-img{
    max-width: 100%;
}
#product .product-content{
    text-align: center;
}
#product .product-price{
    color: #0a763d;
    font-family: fontbody;
    font-size: 28px;
    font-weight: bold;
}
#product .product-gram{
    font-size: 20px;
    color: rgb(83, 83, 83);
    font-weight: 100;
}
/* Service */
#services h2::before{
    content: "";
    width: 6px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 2.8rem;
    vertical-align: text-bottom;
}
#services h2{
    color: #0a763d;
}
#services .services-content{
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    min-height: 340px;
}
#services .services-icon{
    color: #0a763d;
    font-size: 36px;
    margin-bottom: 20px;
}
#services .services-heading{
    font-size: 24px;
}
#services .promote{
    background-color: #005528;
    padding: 120px;
}
#services .promote .promote-btn{
    border: 1px solid #fff;
    white-space: nowrap;
    /* background: #005528; */
}
#services .promote-content{
    color: #fff;
    flex: 1;
}
#services .promote-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#services .promote-heading{
    font-size: 28px;
    text-transform: uppercase;
}
/* Support */
#support h2::before{
    content: "";
    width: 6px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 2.8rem;
    vertical-align: text-bottom;
}
#support h2{
    color: #0a763d;
}
#support .container p{
    margin: 0px 0px 10px;
}
#support ul{
    list-style: none;
    padding-left: 0px;
}
#support a{
    font-size: 18px;
    color: #000;
    padding-left: 8px;
}
#support a:hover{
    color: #bd5102;
}
#support ul p{
    font-size: 16px;
    color: #666;
    padding-left: 32px;
    margin: 0px;
    padding-top: 10px;
}
#support ul li{
    padding: 20px 0;
    border-bottom: 1px solid #ececf1;
}
#support ul button{
    outline: none;
    border: none;
    background-color: #fff;
}
#support .support-button:hover{
    color: #bd5102;
}
#support li p{
    display: none;
}
#support li.collapse-Show p{
    display: block;
}
#support li i.ti-angle-up{
    display: none;
}
#support li.collapse-Show i.ti-angle-up{
    display: inline-block;
}
#support li.collapse-Show i.ti-angle-down{
    display: none;
}


/* Contact */
#contact h2::before{
    content: "";
    width: 6px;
    background-color: #0a763d;
    display: inline-block;
    margin-right: 15px;
    height: 2.8rem;
    vertical-align: text-bottom;
}
#contact h2{
    color: #0a763d;
}
#contact .contact-icon{
    padding: 10px;
    font-size: 20px;
    background-color: #0a763d;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    float: left;
    margin-right: 10px;
}
#contact .contact-left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact .form-input{
    width: 100%;
    padding: 8px 8px;
}
.form-box .search-btn{
    padding: 10px 35px;
}
/* Footer */
#footer .footer-top{
    background-color: #005528;
}
#footer .footer-heading{
    font-size: 24px;
}
#footer .footer-icon{
    padding: 12px;
    margin-right: 4px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    font-style: 18px;
}
#footer .footer-top ul{
    list-style: none;
    padding-left: 0;
}
#footer .footer-top ul li{
    padding: 10px 0;
    
}
#footer .footer-top ul a{
    color: #fff;
}
#footer .footer-top .footer-link-icon{
    padding-right: 8px;
    font-style: 18px;
    color: #0a763d;
}
#footer .footer-top .reg-btn{
    background-color: #0a763d;
    font-family: fontbody;
    color: #fff;
    font-weight: bold;
    padding: 8px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
}
#footer .footer-input{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    width: 100%;
}
#footer .footer-btn{
    position: relative;
}
#footer .reg-btn{
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s;
}#footer .reg-btn:hover{
    color: #005528;
    background-color: #fff;
}
#footer .footer-bottom{
    padding-top: 30px;
}
#footer .footer-bottom p{
    margin-bottom: 0;  
    text-align: center; 
}
