/* BREAK POINT */
/* PC */
@media (min-width: 1024px){
    #product .product-box{
        height: 100%;
    }
    #services .services-content{
        height: 100%;
    }

}
/* Tablet and mobile */
@media (max-width: 1023px){
    #services .promote .promote-btn{
        display: block;
        max-width: fit-content;
    }

/* Tablet */
@media (max-width: 991px){
    #header  li a{
        padding: 16px 0;
        text-align: center;
    }
    #header form input{
        width: 100%;
    }
}
@media (min-width: 740px) and (max-width: 1023px){
    #product .product-box{
        margin-top: 24px;
    }
    #product h2{
        margin-bottom: 0px;
    }

}
/* Mobile */
@media (max-width: 739px){
    #header form{
        display: none;
    }
    .promote-content{
        text-align: center;
    }
    #contact .form-input{
        width: 100%;
        padding: 8px 8px;
    }
    .contact-map{
        margin-bottom: 40px;
    }
    .contact-content p:nth-of-type(2){
        margin-bottom: 40px;
    }
    #about .statistic .statistic-desc{
        text-align: center;
    }
    #about .statistic .statistic-box{
        height: 142px;
    }
    #services .promote{
        padding: 30px;
    }
    #services .promote .promote-btn{
       max-width: 100%;
    }
    #footer h4{
        margin-bottom: 0px;
    }
}